*{
    margin: 0;
    padding: 0;
    transition: all 0.25s ease;
    box-sizing: border-box;
}
body{
   font-family: sans-serif;
   margin: 0; 
}
header{
    padding: 2em 0;
    width: 100%;
    background: transparent;
    border-bottom: 1px transparent;
    position: fixed;
    text-decoration: none;
    color: #000;
    font-size: 1.5em;
    z-index: 100;
}
.header{
    display: flex;
    margin: 0 auto;
    border-color: transparent;
    border-style: solid;
    border-left-width: 100px;
    border-right-width: 120px;
    font-family: 'Open Sans Condensed',sans-serif;
}
.header-info{
    margin-left: auto;
}
.header-logo>a,
.header-info>ul>li>a{
    color: #fff;
    text-decoration: none;
}
.header-logo>a:hover,
.header-info>ul>li>a:hover {
    font-size: 1.1em;
}
li{
    display: inline;
    padding-left: 1em;
}
.anna_r{
    height: 100vh;
    width: 100%;
    background: #778899 url(../src/anna_photo.jpg) no-repeat center center;
    background-size: cover;
    z-index: 2;
    position: relative;
}
.anna-main {
    height: 100vh;
    width: 100%;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 0.8;
}
.anna_r>.anna-main>.anna-main-text>p {
    font-size: 3em;
}
.anna-portofio{
    margin: 1em auto 0;
    border-color: transparent;
    border-style: solid;
    border-left-width: 100px;
    border-right-width: 100px;

}
.anna-portofio-works{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.anna-portofio-works-ex{
    width: calc(33% - 20px);
    height: 600px;
    margin: 0 20px 80px 0;
    text-align: center;

}
.anna-portofio-works-ex>img {
    height: 100%;
    width: 100%;
}
.anna-profile{
    border-color: transparent;
    border-style: solid;
    border-left-width: 100px;
    border-right-width: 100px;
    margin-bottom: 2em;
}
.anna-profile-content{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.slider{
    overflow: hidden;
    width: 30%;
    margin: auto;
    position: relative;
}
.slider-slide {
    display: flex;
    width: 100%;
    height: 600px;
}
.slider-slide>img{
    height: 100%;
    width: auto;
}
.prevBtn{
    position: absolute;
    top: 50%;
    left: 5%;
    z-index: 10;
    font-size: 30px;
    color: greenyellow;
    cursor: pointer;
}
.nextBtn {
    position: absolute;
    top: 50%;
    right: 5%;
    z-index: 10;
    font-size: 30px;
    color: greenyellow;
    cursor: pointer;
}
.discription{
    width: 50%;
    text-align: justify;
    font-size: 20px;
}
.anna-contact{
    padding: 0 100px;
}
.anna_u{
    margin: 0 0 12em;
    position: relative;
    z-index: 2;
    background: #fff;
    border-bottom: 1px solid #dbdbdb;
}
footer{
    width: 100%;
    bottom: 0;
    overflow: hidden;
    padding: 2.5em 100px;
    position: fixed;
    z-index: 1;
}
.footer-inner{
    display: flex;
}
.footer-inner-social{
    margin-left: auto;
}
.footer-inner-info>h3,
.footer-inner-info>h4{
    margin-bottom: 1.5em;
}
.fab{
    opacity: .5;
    transition: opacity .2s linear;
    padding: 1em 1em 0 0;
}
.fa-vk{
    color:#405DE6
}
.fa-instagram{
    color: #C13584;
    ;
}
.fab:hover{
    opacity: 1;
}

/* media queries */

@media all{
    
}